@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';
@import 'colors';

body {
  background-color: $blue;
}

.playerImg {
  width: 100px;
}

.title {
  color: $yellow;
}

.white {
  color: white;
}

.blue {
  background-color: $blue;
  color: white;
}
